{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <div align="center">
            <h1>Welcome to the page for {{current_user.username}}</h1>
            <img align="middle" src="{{url_for('static', filename='profile_pics/'+current_user.profile_image)}}">
            <p>{{current_user.email}}</p>
        </div>
    </div>
    <div class="container">
        <form method="POST" action="" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <div class="form-group">
               {{form.username.label}}
                {{form.username(class="form-control")}}
            </div>
            <div class="form-group">
                {{form.email.label}}
                {{form.email(class="form-control")}}
            </div>
            <div class="form-group">
                {{form.picture.label}}
                <div class="custom-file">
                    {{form.picture(class="custom-file-input")}}
                    <label class="custom-file-label" for="picture">Choose file</label>
                </div>
                <script>
                    $('#picture').on('change',function(){
                        var fileName = $(this).val();
                        $(this).next('.custom-file-label').html(fileName);
                    })
                </script>
            </div>
            {{form.submit(class="btn btn-primary")}}
        </form>
    </div>

{% endblock %}